body {
  height: 100vh;
}
.container {
  width: '600px';
}
main {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: -30px;
}

.content {
  font-family: monospace;
  font-size: xx-large;
}

.animation {
  border: '1 sold red';
}

.weather {
  width: '100%';
}

img {
  /* padding: 10px; */
  margin-left: 100px;
}

#city_input {
  border: 1px solid #ecedee;
  border-radius: 20px;
  color: #3c4043;
  font-family: monospace;
  font-size: 18px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 50%;
  text-align: center;
  cursor: pointer;
  user-select: none;
  text-align: left;
}

#get_weather_btn {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: monospace;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
